<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdk.hello.service.province.mapper.ProvinceExtendMapper">
    
    <insert id="insertProvince" parameterType="com.zdk.hello.service.province.entity.Province">
        insert into province value (#{id}, #{provinceId}, #{cityId}, #{provinceName}, #{cityName});
    </insert>
    
    <select id="count" resultType="java.lang.Integer">
        select count(*) from province
    </select>

</mapper>
